*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
    text-decoration: none;
    list-style-type: none;
}
body{
    background-color: black;
}
@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}
.container{
    max-width: 80vw;
    margin: auto;
}
.profile-logo-img{
    width: 300px;
    height: 300px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.links ul{
    display: flex;
    column-gap: 20px;
    
}
.links a{
    color: #fff;
}
.main-header-text{
    color: #fff;
    font-size: 16px;
}
.main-header-title-and-img{
    position: relative;
    display: flex;
}
.main-header-text-title{
    position: relative;
    top: 100px;
}
.main-header-name{
    color: #FD6F00;
    
}
.main-header-job{
    color: #fff;
    padding: 0px 0px 0px 0px;
    font-size: 70px;
}
.main-header-job2{
    color: #fff;
    padding: 0px 0px 30px 0px;
    margin-left: 150px;
    font-size: 70px;
}
.main-header-desc{
    max-width: 498px;
    line-height: 25px;
    color: #fff;
}
.img-back{
    margin-left: 50px;
}
